Repository next-dev-team/react-next-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx}": [
    "max lint --fix --eslint-only",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "max lint --fix --eslint-only",
    "prettier --cache --parser=typescript --write"
  ]
}

chore: update antd to v5
  pnpm-lock.yaml
Due: none

chore: update antd to v5
  package.json
Due: prettier --cache --write

fix: side menu left
  auto-import.d.ts
  src/global.less
Due: none

chore: update dependency
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update dependency
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: env
  .env
Due: none

chore: update deps
  config/config.ts
  package.json
Due: prettier --cache --write

chore: update deps
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: up deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: up deps
  auto-import.d.ts
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
  src/utils/requestErrorConfig.ts
Due: prettier --cache --write

feat: added menu tabs
  auto-import.d.ts
  config/auto-import/umi-presents.ts
  config/config.dev.ts
  config/config.ts
  config/defaultSettings.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/RightContent/AvatarDropdown.tsx
  src/components/SwitchTabs/index.tsx
  src/components/SwitchTabsLayout/index.tsx
  src/components/index.md
  src/components/pageLoading.tsx
  src/layouts/index.tsx
  src/loading.tsx
  src/locales/all.ts
  src/locales/en-US.ts
  src/locales/translation/component.ts
  src/locales/zh-CN.ts
  src/pages/welcome/index.tsx
  src/types/global.d.ts
  src/types/icons.d.ts
  src/types/typings.d.ts
  src/utils/index.ts
  tailwind.config.js
Due: prettier --cache --write, max lint --fix --eslint-only

feat: layout
  auto-import.d.ts
  config/config.ts
  config/defaultSettings.ts
  config/routes.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/SwitchTabs/index.tsx
  src/locales/translation/menu.ts
  src/pages/auth/login/index.tsx
  src/pages/components/test/index.tsx
  src/pages/welcome/index.tsx
  src/utils/obj.ts
Due: prettier --cache --write

refactor: rename auto import
  auto-import.d.ts
  config/auto-import/antd-icons-present.ts
  config/auto-import/antd-present.ts
  config/auto-import/index.ts
  config/config.ts
  config/defaultSettings.ts
  src/app.tsx
  src/components/HeaderDropdown/index.tsx
  src/components/HeaderSearch/index.tsx
  src/components/RightContent/AvatarDropdown.tsx
  src/components/RightContent/index.tsx
  src/components/SwitchTabs/index.tsx
  src/components/feedback/drawer.tsx
  src/components/feedback/modal.tsx
  src/global.tsx
  src/pages/components/test/index.tsx
  src/pages/welcome/crud.tsx
  src/pages/welcome/index.tsx
  src/pages/welcome/subCom.tsx
  src/utils/index.ts
Due: none

refactor: rename auto import
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: header
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
  src/access.ts
  src/app.tsx
  src/components/SwitchTabs/index.tsx
  src/components/SwitchTabsLayout/index.tsx
Due: prettier --cache --write

build: imp build chunk
  auto-import.d.ts
  config/auto-import/antd-icons-present.ts
  config/auto-import/umi-presents.ts
  config/config.dev.ts
  config/config.prod.ts
  config/config.ts
Due: none

feat: up deps, added more example
  .env.pre
  .prettierignore
  config/config.prod.ts
  config/config.ts
  package.json
  plugin.ts
  pnpm-lock.yaml
  src/app.tsx
  src/components/RightContent/AvatarDropdown.tsx
  src/layouts/index.tsx
  src/mock/mock.ts
  src/pages/auth/login/index.tsx
  src/pages/welcome/index.tsx
  src/unused/index.ts
  src/wrappers/foo.tsx
Due: prettier --cache --write

feat: up deps, added more example
  config/config.prod.ts
  config/config.ts
Due: none

build: esbuild config
  auto-import.d.ts
  config/config.dev.ts
  config/config.prod.ts
  config/config.ts
  package.json
  patches/use-switch-tabs+^0.2.3.patch
  src/app.tsx
  src/components/RightContent/index.tsx
  src/constants/env.ts
  src/layouts/devTool.tsx
  src/layouts/index.tsx
  src/types/env.d.ts
Due: prettier --cache --write

feat: more layout
  auto-import.d.ts
  config/auto-import/index.ts
  config/config.ts
  config/defaultSettings.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/SwitchTabs/index.tsx
  src/components/SwitchTabsLayout/index.tsx
  src/global.less
  src/hooks/useDelayLoading.ts
  src/pages/auth/login/index.tsx
  src/pages/components/test/index.tsx
  src/pages/welcome/crud.tsx.bk
Due: prettier --cache --write

fix: modal regist
  auto-import.d.ts
  src/app.tsx
  src/components/index.ts
  src/components/layouts/headerContentRender.tsx
  src/layouts/devTool.tsx
  src/layouts/index.tsx
  src/stores/_index.ts
  src/stores/app.ts
  src/utils/index.ts
Due: none

chore: up deps
  auto-import.d.ts
  config/config.ts
  pnpm-lock.yaml
  src/app.tsx
  src/layouts/devTool.tsx
Due: none

chore: up deps
  .eslintrc.js
  auto-import.d.ts
  config/auto-import/antd-present.ts
  config/config.ts
  src/pages/welcome/index.tsx
Due: prettier --cache --write, max lint --fix --eslint-only

imp: layout
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/RightContent/index.tsx
  src/components/SwitchTabs/index.tsx
  src/components/layouts/headerContentRender.tsx
  src/global.less
  tailwind.config.js
Due: prettier --cache --write, max lint --fix --eslint-only

imp: layout
  src/layouts/index.tsx
Due: none

chore: up deps
  .eslintrc.js
  auto-import.d.ts
  config/config.dev.ts
  config/config.ts
  docs/index.md
  package.json
  pnpm-lock.yaml
  src/favicon.ico
  src/mock/mock.ts
  src/pages/welcome/_mock.ts
Due: prettier --cache --write, max lint --fix --eslint-only

feat: doc
  .dumirc.ts
  .gitignore
  README.md
  auto-import.d.ts
  config/routes.ts
  docs/index.md
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/index.md
  src/constants/readme.md
  src/docs/01_store.md
  src/docs/02_graphQl.md
  src/docs/03_locales.md
  src/locales/en-US.ts
  src/locales/readme.md
  src/locales/translation/_all.ts
  src/locales/translation/common.ts
  src/locales/translation/menu.ts
  src/locales/zh-CN.ts
  src/pages/404.tsx
  src/pages/~docs.tsx
  src/utils/index.ts
  src/utils/obj.ts
  src/utils/readme.md
  tsconfig.json
Due: prettier --cache --write

chore: up deps
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
  src/components/RightContent/AvatarDropdown.tsx
Due: prettier --cache --write

feat: uno css
  .eslintrc.js
  auto-import.d.ts
  config/config.dev.ts
  config/config.ts
  package.json
  patches/@umijs+plugins+4.0.44.patch
  pnpm-lock.yaml
  src/app.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/index.ts
  src/components/RightContent/index.tsx
  src/components/index.ts
  src/components/layouts/headerContentRender.tsx
  src/constants/colors.ts
  src/layouts/devTool.tsx
  src/locales/translation/_all.ts
  src/pages/welcome/index.tsx
  src/types/global.d.ts
  src/types/icons.d.ts
  src/utils/locale.ts
  src/utils/obj.ts
  tailwind.config.js
  tailwind.css
  unocss.config.ts
Due: prettier --cache --write, max lint --fix --eslint-only

chore: up-deps
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

refactor: remove unused code
  .dumirc.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
Due: prettier --cache --write

refactor: updat config
  .dumirc.ts
  README.md
  auto-import.d.ts
  config/auto-import/antdpro-present.ts
  config/config.dev.ts
  config/config.ts
  config/defaultSettings/defaultSettings.ts
  config/defaultSettings/index.ts
  config/defaultSettings/seedColors.ts
  config/defaultSettings/theme.ts
  config/theme.ts
  docs/index/index.md
  generator/README.md
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/Tools/devTool.tsx
  src/components/index.ts
  src/global.tsx
  src/layouts/index.tsx
  src/pages/welcome/index.tsx
  src/types/global.d.ts
  src/utils/index.ts
  src/utils/utils.ts
  tsconfig.json
  unocss.config.ts
Due: prettier --cache --write

chore: up deps
  package.json
  pnpm-lock.yaml
  src/components/Tools/devTool.tsx
Due: prettier --cache --write

feat: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write
