Repository next-dev-team/react-next-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only

up deps
  auto-import.d.ts
  config/auto-import/umi-presents.ts
  config/config.ts
  config/defaultSettings/defaultSettings.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/RightContent/index.tsx
  src/components/Tools/devTool.tsx
  src/components/index.ts
  src/global.tsx
  src/pages/welcome/index.tsx
  src/pages/welcome/models/counter.ts
  src/service-worker.js
  src/stores/_index.ts
  src/stores/app.ts
  src/stores/user.ts
  tailwind.config.js
  tailwind.css
  unocss.config.ts
Due: prettier --cache --write, max lint --fix --eslint-only

up deps
  config/config.ts
  src/global.tsx
  src/pages/document.ejs
Due: none

feat: pwa
  config/config.ts
  package.json
  plugin.ts
  pnpm-lock.yaml
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/app.tsx
  src/global.tsx
  src/pages/document.ejs
  src/service-worker.js
  tailwind.config.js
Due: prettier --cache --write, max lint --fix --eslint-only

up deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: deps and remove unused deps
  auto-import.d.ts
  config/auto-import/index.ts
  config/defaultSettings/seedColors.ts
  package.json
  pnpm-lock.yaml
  src/components/RightContent/index.tsx
  src/components/Tools/devTool.tsx
  src/constants/colors.ts
  src/hooks/useTheme.ts
  src/pages/welcome/index.tsx
  src/utils/obj.ts
  tailwind-color_seed.js
  tailwind.config.js
Due: prettier --cache --write, max lint --fix --eslint-only

chore: up deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: up deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

up deps
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update icons and deps
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/icons/apple.svg
  src/pages/welcome/index.tsx
Due: prettier --cache --write

update deps
  package.json
  patches/@umijs+plugins+4.0.44.patch
  pnpm-lock.yaml
Due: prettier --cache --write

update
  .dumirc.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update tools
  src/components/Tools/devTool.tsx
  src/layouts/index.tsx
  tailwind.config.js
Due: prettier --cache --write, max lint --fix --eslint-only

update data table
  auto-import.d.ts
  config/routes.ts
  src/components/DataTable/StatisticCard.tsx
  src/components/DataTable/export.tsx
  src/components/DataTable/index.tsx
  src/components/DataTable/type.d.ts
  src/components/Tools/devTool.tsx
  src/hooks/index.ts
  src/hooks/useMediaQr.ts
  src/pages/auth/login/index.tsx
  src/pages/components/test/index.tsx
  src/utils/print.ts
  src/utils/request.ts
Due: none

update
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/models/demo.ts
  src/pages/welcome/crud.tsx.bk
  src/pages/welcome/index.tsx
Due: prettier --cache --write

update
  auto-import.d.ts
  config/auto-import/index.ts
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/index.ts
  src/hooks/useModels.ts
  src/layouts/index.tsx
  src/models/demo.ts
  src/pages/welcome/components/Theme.tsx
  src/pages/welcome/index.tsx
Due: prettier --cache --write

added login form
  auto-import.d.ts
  config/routes.ts
  package.json
  pnpm-lock.yaml
  src/pages/auth/login/index.tsx
  src/pages/data-table/index.tsx
Due: prettier --cache --write

update login
  package.json
  pnpm-lock.yaml
  src/components/RightContent/AvatarDropdown.tsx
  src/global.less
  src/hooks/index.ts
  src/pages/auth/login/index.tsx
Due: prettier --cache --write

update login
  auto-import.d.ts
  src/app.tsx
  src/components/RightContent/AvatarDropdown.tsx
  src/components/Skeleton/PageLoading.tsx
  src/components/index.ts
  src/constants/colors.ts
  src/constants/config.ts
  src/constants/env.ts
  src/layouts/index.tsx
  src/models/demo.ts
  src/pages/auth/login/index.tsx
  src/pages/auth/login/model.ts
  src/pages/document.ejs
  src/pages/welcome/models/counter.ts
  src/utils/request.ts
  src/utils/requestErrorConfig.ts
  src/utils/storage.ts
Due: none

update login
  src/pages/auth/login/model.ts
Due: none

Update README.md
  README.md
Due: prettier --cache --write

update
  src/global.tsx
Due: none

update
  src/pages/auth/login/model.ts
Due: none

update
  src/components/RightContent/AvatarDropdown.tsx
Due: none

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

add electron suport
  .gitignore
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/main/createProtocol.ts
  src/main/index.ts
  src/preload/index.ts
Due: prettier --cache --write

update deps
  auto-import.d.ts
  config/auto-import/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update
  src/components/DataTable/index.tsx
Due: none

wip: datatable
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/components/DataTable/type.d.ts
  src/pages/data-table/index.tsx
Due: none

update
  .vscode/settings.json
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/components/DataTable/type.d.ts
  src/pages/data-table/index.tsx
  src/utils/index.ts
Due: prettier --cache --write

update
  auto-import.d.ts
  package.json
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/pages/data-table/index.tsx
  src/utils/index.ts
Due: prettier --cache --write

update
  package.json
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/components/DataTable/type.d.ts
  src/pages/data-table/index.tsx
Due: prettier --cache --write

fixed: dp
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

wip crud
  package.json
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/components/DataTable/type.d.ts
  src/pages/data-table/index.tsx
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  max lint --fix --eslint-only: any of: *.{js,jsx}
