Repository next-dev-team/react-next-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, max lint --fix --eslint-only

wip: improve ux and remove unused dpes
  config/config.ts
  package.json
  pnpm-lock.yaml
  src/components/DataTable/index.tsx
  src/global.tsx
  src/main/createProtocol.ts
  src/main/index.ts
  src/pages/data-table/index.tsx
  src/preload/index.ts
  src/service-worker.js
Due: prettier --cache --write, max lint --fix --eslint-only

improve i18n with lobe/i18n
  .i18nrc.js
  .prettierignore
  .prettierrc
  .prettierrc.js
  README.md
  config/config.ts
  generator/.gitignore
  generator/CHANGELOG.md
  generator/README.md
  generator/generators/component/index.ts
  generator/generators/component/templates/_component.tsx
  generator/generators/context/index.ts
  generator/generators/context/templates/_context.tsx
  generator/generators/enum/index.ts
  generator/generators/enum/templates/_enum.ts
  generator/generators/hoc/index.ts
  generator/generators/hoc/templates/_hoc.ts
  generator/generators/hooks/index.ts
  generator/generators/hooks/templates/_hook.ts
  generator/generators/page/index.ts
  generator/generators/page/templates/_page.tsx
  generator/generators/store/index.ts
  generator/generators/store/templates/_service.ts
  generator/generators/store/templates/_store.tsx
  generator/package.json
  package.json
  pnpm-lock.yaml
  script/locale-config.json
  script/locale-remove.ts
  script/locale-translate.ts
  src/locales/en-US.json
  src/locales/en-US.ts
  src/locales/translation/_all.ts
  src/locales/translation/common.ts
  src/locales/translation/component.ts
  src/locales/translation/menu.ts
  src/locales/zh-CN.json
  src/locales/zh-CN.ts
Due: prettier --cache --write, max lint --fix --eslint-only

update script
  package.json
Due: prettier --cache --write

up deps
  auto-import.d.ts
  config/routes.ts
  package.json
  pnpm-lock.yaml
  src/components/SwitchTabsLayout/index.tsx
  src/utils/index.ts
Due: prettier --cache --write

up deps
  pnpm-lock.yaml
Due: none

up deps
  auto-import.d.ts
  pnpm-lock.yaml
  src/app.tsx
Due: none

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  max lint --fix --eslint-only: any of: *.{js,jsx}
